{
  "app" : {
    "reverse_proxy" : 0
  },
  "hypnotoad" : {
    "listen" : [ "127.0.0.1:1234" ]
  },
  "db" : {
    "name" : "dbname",
    "user" : "your_username",
    "password": "your_password"
  },
}
